{% extends "main.html" %}
{% block content %}

<title>{% block title %}{% endblock %} Home Page</title>


  <main>
    <div class="catdisplay">
      <h2>Categories</h2>
      {% for i in categories %}
        <a href="{{url_for('editCategory', name = i.name)}}">{{i.name}}</a>
        </br>
      {% endfor %}
      <a href="{{url_for('newCategory')}}">Add Category</a>
    </div>
    <div class="itemdisplay">
      <h2>Latest Items</h2>
      <a href="{{url_for('createItem')}}">Add Item</a></br>
      {% for i in items %}
        <a href="{{url_for('showItem', name = i.category.name, item_name=i.name)}}">{{i.name}}</a>
        </br>
        ({{i.category.name}})
        </br>
      {% endfor %}

    </div>
  </main>

{% endblock %}
