{% extends "main.html" %}
{% block content %}

<main>
  <div class="catdisplay">
    <h2>Categories</h2>
    {% for i in categories %}
      {{i.name}}
      </br>
    {% endfor %}
  </div>
  <div class="newcat">
    <h2>New Category Information</h2>
    <form method ="post">
      Category Name: </br>
      <input type="text" maxlength="100" name = "categoryName"></br>
      <input type="submit" value ="Submit">
    </form>
    <a href="{{url_for('showCategories')}}">Home</a>
  </div>
</main>

{% endblock %}
